.achievements-container {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
    justify-content: center;
    align-items: flex-start;
}
